@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="text-info">Extracted from product vision document v1.0.</p>

<h4>2.1 Het huidige bedrijfsproces</h4>

<p>Binnen Hogeschool Uithuizermeerden worden, zoals op iedere school, tentamens afgenomen. De 

administratieve werkzaamheden die dit met zich meebrengt, zijn redelijk uitgebreid. Binnen een 

periode, waarvan er vier zijn in een jaar, moet iedere toets tweemaal gepland worden. Een docent 

geeft aan het begin van de periode aan welke tentamens hij wilt afnemen. Hiervoor moet een 

beschikbaar lokaal worden gezocht met voldoende capaciteit en de juiste faciliteiten. Vervolgens 

moeten leerlingen zich op het tentamen kunnen inschrijven. Bij het afnemen van de tentamens moet 

er een presentielijst zijn, en achteraf moet er een overzicht worden gemaakt met de resultaten, met 

onder andere de gemiddelde score. </p>

<h4>2.2 Probleemstelling</h4>

<p>De administratieve rompslomp die toetsen met zich meebrengen, drukken voornamelijk op de 

administratie. Doordat de school gestaag groeit, moeten er steeds meer van dezelfde handmatige 

handelingen worden uitgevoerd, wat ertoe leid dat er ook steeds meer fouten gemaakt gaan worden. 

Daarnaast is het werk eentonig en saai. 

De fouten raken uiteraard ook de studenten en docenten: de informatie is niet altijd correct 

beschikbaar, wat kan leiden tot onduidelijkheden, tentamens die niet door kunnen gaan en zelfs tot 

onnodige herkansingen. </p>

<h4>2.3 Nieuwe situatie</h4>

<p>In de nieuwe situatie moet de werkdruk van de administratie enorm verlicht worden. Daarnaast 

moeten fouten worden voorkomen, door gegevens duidelijk te registreren.</p>
