@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Inspector Factory<br />
    Avans University of Applied Sciences<br />
    Lovensdijkstraat 61-63<br />
    Postbus 90.116, 4800 RA Breda<br />
    <abbr title="Phone">P:</abbr>
    +31 (0) 88 - 525 75 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@edwinmiltenburg.nl">admin@edwinmiltenburg.nl</a>
</address>